<div class="fullWidth gar">
  <div class="bar">
    <a class="coffee-nav__button">
      <img src="../../assets/home.svg" alt="becher symbol"
    /></a>
    <a class="coffee-nav__button"
      ><img src="../../assets/fill.svg" alt="becher symbol"
    /></a>
    <a class="coffee-nav__button"
      ><img src="../../assets/cup.svg" alt="becher symbol" />
      <span class="coffee-nav__badge">2</span></a
    >
    <a class="coffee-nav__button"
      ><img src="../../assets/profile.svg" alt="pfofil symbol"
    /></a>
  </div>
</div>
